MEDUSA_BACKEND_URL=https://packoasis-api-production.up.railway.app
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_0d7333b11dea706d2f671f16308d0fd5a2d62f85593b0983f40792a5a8222d59
NEXT_PUBLIC_BASE_URL=https://packoasis.com
NEXT_PUBLIC_DEFAULT_REGION=us
REVALIDATE_SECRET=supersecret
